# 1.
Which following is the correct way to create a dictionary in Python?
   
   (A) students = { 'name' => 'alice' ;  'score' =>60 }
   
   (B) students = { 'name' = 'alice' ;  'score' =60 }
   
   (C) students = { 'name' : 'alice' ;  'score' : 60 }
   
   (D) students = { 'name' => 'alice' ,  'score' =>60 }
   
   (E) students = { 'name' : 'alice' , 'score' : 60 }

#   E

# 2.
What does the following Python program fragment do?

   s=0
   for i in range (3 , 10) :
        s+=i
   print (s)
   
   (A) Calculate the sum of 1+2+…+10
   
   (B) Calculate the sum of 1+4+7+10
   
   (C) Calculate the sum of 3+4+5+6+…+9
   
   (D) Calculate the sum of 3+4+5+6+…+10
   
   (E) Calculate the sum of 0+2+4+6+…+10

#   C

# 3.
What is the output of this code in Python?
      list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
      print (list [ 1 : ])
   
   (A) [ ]
   
   (B) [ 'b' ]
   
   (C) [ 'a' ,  'b' ]
   
  (D) [ 'b' ,  'c' ,  'd' ,  'e' ]

#D

# 4.
What is the output of this code in Python?
        L1 = [ ]
        L1.append ( [1, [2, 3], 4] )
        L1.extend ( [7, 8, 9] )
        print(L1[0][1][1] + L1[2] )
   
   (A) 3  
   (B) 8  
   (C) 11  
   (D) 38  
   (E) None of these
#   C

# 5.
What is the output of this code in python?
        r = lambda q: q * 2
        s = lambda q: q * 3
        x = 2
        x = r (x)
        x = s (x)
        x = r (x)
        print (x)
   
   (A) 2  
   (B) 4  
   (C) 6  
   (D) 12  
   (E) 24
#   E

# 6.
Which of the following conditions correctly describes the output of this code in  Python?
         first = [1 , 2 , 3 , 4 , 5]
         second = first
         second.append (6)
         print (first)
         print (second)

   (A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]
   
   (B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]
   
   (C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]
   
   (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]
   
   (E) None of these
#   A

# 7.
If the function 
int volume (int x = 1, int y = 1, int z = 1); 
is called by the expression volume (7,8), 
how many default arguments are used?

(A) None  
(B) One  
(C) Two  
(D) Three

(E) It depends on the runtime environment.

# C

# B1

## Answer
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# B2
## Answer
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# B3
## Answer
[1, 8, 27, 64, 125]

# Programming Python
The Fibonacci numbers may be defined by the recurrence relation
 F_{0}=0, F_{1}=1
and
F_{n} = F_{n-1} + F_{n-2}   for n > 1.

0,1,1,2,3,5,8,......

Under some older definitions, the value  F_{0}=0 is omitted, 
so that the sequence starts with F_{1}=F_{2}=1 and 
the recurrence F_{n}=F_{n-1}+F_{n-2} is valid for n > 2

(1)Write a Python function/Program to Find Fibonacci Numbers using Recursion
(2)use iterative Approach To Find the nth Term Of Fibonacci Sequence(You need to write a function using loop)

In [10]:
def f(n):
   if n <= 1:
       return n
   else:
       return(f(n-1) + f(n-2))
n = 16
if n >= 0:
   for i in range(n):
       print(f(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [3]:
f1 = 0
f2 = 1
nth = int (input("Enter the nth terms you Want; "))
print(f1,f2,end=" ")
while(nth-2):
  result = f1 + f2
  f1, f2 = f2, result
  print(result, end=" ")
  nth = nth - 1

Enter the nth terms you Want; 10
0 1 1 2 3 5 8 13 21 34