# 4. Unpack a Collection:If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. 

# answer A

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

# 5.Which following is the correct way to create a dictionary in Python?
# answer E

In [3]:
students = { 'name' => 'alice' ;  'score' =>60 }

SyntaxError: ignored

In [4]:
students = { 'name' = 'alice' ;  'score' =60 }

SyntaxError: ignored

In [5]:
students = { 'name' : 'alice' ;  'score' : 60 }

SyntaxError: ignored

In [6]:
students = { 'name' => 'alice' ,  'score' =>60 }

SyntaxError: ignored

In [7]:
students = { 'name' : 'alice' , 'score' : 60 }

# 6. What is the output of this code in Python?
# answer D

In [2]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

# 7. Which one of the following outputs is wrong? 
# answer A D

In [8]:
13//5

2

In [9]:
13/5

2.6

In [10]:
13%5

3

In [11]:
y = int(2.8)

# 8. What does the following Python program fragment do?
# answer D

In [12]:
s=0
for i in range (3 , 11) :
  s+=i
  print (s)

3
7
12
18
25
33
42
52

# 9. What is the output of this code in Python?
# answer C

In [13]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

# 11. What is the output of this code in Python?
      list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
      print (list [ 1 : ])

# answer D

In [14]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

# 12. What is the output of this code in Python?
# answer C

In [15]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

# 14. Which of the following conditions correctly describes the output of this code in  Python?
# answer D

In [17]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# 18. Which one of the codes will output
['apple', 'orange', 'banana', 'cherry']  ?

mylist = ["apple", "banana", "cherry"]
_____________________
print(mylist)

# answer c

In [19]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")
print(mylist)

['apple', 'orange', 'banana', 'cherry']

# 21. What is the output of this code in Python?
# answer A

In [20]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

# 22. What is the output of this code in Python?
# B

In [21]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# 24. What is the output of this code in python?
# answer E

In [22]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

# 25. A recursive function is defined as below:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

What Is The Last Line Of The Output When tri_recursion(6) is executed? 

# answer D

In [25]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

tri_recursion(6)

1
3
6
10
15
21

21